#navbar {
  display: flex;
  padding: 30px 10%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(66, 23, 4, 0.644);
}

#page-options {
  list-style-type: none;
}

.navbar-li {
  display: inline;
  font-size: 20px;
  
}

.navbar-li a {
  text-decoration: none;
  color: white;
  padding: 30px 40px;
  transition: 0.3s;
}

.navbar-li a:hover {
  background-color: rgba(62, 34, 14, 0.389);
}

#logo {
  width: 40%;
};