body {
  background-color: burlywood;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}